@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes hover {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-8px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-100px) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

body {
  margin: 0;
  p,
  h1,
  h2 {
    color: white;
  }
  main {
    /* entête de la page */
    #en_tete {
      background-image: linear-gradient(rgb(186, 14, 14), rgb(0, 0, 0));
      div {
        color: white;
        text-align: center;
        padding: 10em 0;
        h1 {
          font-size: 3em;
          letter-spacing: 3px;
        }
        p {
          font-size: 1.2em;
        }
      }
    }
    /* fin de l'entête de la page */
    /* débus des logo qui tourne de gauche à droite */
    #logos {
      overflow: hidden;
      padding: 2em 0;
      margin: 2em 0;
      white-space: nowrap;
      position: relative;
      &::before {
        left: 0;
        background: linear-gradient(
          to left,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.618)
        );
      }
      &::after {
        right: 0;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.618)
        );
      }
      &::before,
      &::after {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
      }

      .logos-slide {
        display: inline-block;
        animation: 35s slide infinite linear;
        img {
          height: 5em;
          margin: 0 40px;
          &:hover {
            transform: translateY(-6px);
            transition-duration: 0.5s;
            animation-name: hover;
            animation-duration: 1.5s;
            transition-property: transform;

            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }
        }
      }
    }

    /* fin des logo qui tourne de gauche à droite */

    #profil_comp {
      /* début de la div de la section profil et des compétences */
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      background-image: linear-gradient(136deg, #ff0000, #000000db);

      padding: 2em 0;
      margin-bottom: 2em;

      section {
        /* début de la section du profil et des compétences  */
        &#profil {
          /* début de la section profil */
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 40%;
          background: linear-gradient(
            133deg,
            rgba(0, 0, 0, 0.85) 9%,
            rgba(255, 0, 0, 0.85) 100%
          );
          border-radius: 20px;
          transition: transform 0.5s, box-shadow 0.5s;
          border: 1px solid black;
          &:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
          }
          img {
            height: 12em;
          }
          div {
            display: flex;
            flex-direction: row;
          }
          p {
            text-align: center;
            color: white;
            width: 80%;
            line-height: 1.5;
            margin-top: 0;
            font-size: 1.5em;
          }
        }
        /* fin de la section profil */
      }
      #contact_comp {
        display: flex;
        flex-direction: column-reverse;
        width: 30%;
        section {
          &:first-of-type {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 2px solid black;
            background: linear-gradient(
              310deg,
              rgba(0, 0, 0, 0.85) 9%,
              rgba(255, 0, 0, 0.85) 100%
            );
            margin-top: 3em;
          }

          &:last-of-type {
            /*début de la section des compétences*/
            display: flex;
            flex-direction: column;
            align-items: center;

            border: 2px solid black;
            background: linear-gradient(
              310deg,
              rgba(0, 0, 0, 0.85) 9%,
              rgba(255, 0, 0, 0.85) 100%
            );
            h2 {
              border-bottom: 1px solid white;
              width: 60%;
              text-align: center;
              padding-bottom: 1em;
            }

            #compétence {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              div {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1em 1em;
                img {
                  height: 5em;
                }
              }
            }
          }
          h2 {
            &:last-of-type {
              border-bottom: 1px solid white;
              width: 60%;
              text-align: center;
              padding-bottom: 1em;
              margin-bottom: 0;
            }
          }
          a {
            img {
              padding: 1em;
              height: 5em;
              &:hover {
                transform: scale(1.1);
                transition: 1s;
              }
            }
          }
        } /* fin de la section du profil et des compétences */
      }

      /* fin de la section des compétence*/
    } /*fin de la div de la section profil et compétences*/

    /* début de la section téléchargement */
    #bouton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      border-top: 1px solid black;
      h3 {
        padding-right: 1em;
      }
      button {
        margin: 0.5em 0;
        padding: 0 1em;
        background-color: black;

        font-size: 1em;
        &:hover {
          background-color: white;
          border: 1px solid black;
          p {
            color: black;
          }
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
